header{
    display: flex;
    background-color: rgb(194, 91, 91);
    color: black;
}

header img{
    padding: 25px;
}

header h1{
    margin-left: 100px;
}

header ul{
    display: flex;
    padding: 20px;
    margin-left: 20px;
}

header li{
    list-style: none;
    margin-left: 10px;
}

header a{
    text-decoration: none;
    background-color: rgb(29, 7, 89);
    color: white;
    padding: 8px;
    border-radius: 20px;

}

header a:hover{
    background-color: rgb(55, 16, 162);
    font-size: larger;
     
    transition: .5s ease-in;
}

label{
    padding: 30px;
    font-size: x-large;

}

input{
    width: 200px;
    height: 15px;
     margin-top: 33px;
     padding: 4px;
     border-radius: 15px;
}

.hero{
    background-image:  url('./images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
     
    width: full;
    height: 300px;
    text-align: center;
    background-position-x: center;
}

.hero h1{
    color: aliceblue;
    margin: 30px;
     
}

.hero button{
    padding: 14px;
    background-color: coral;
    color: rgb(10, 10, 81);
    border-radius: 15px;
    font-size: larger;
    cursor: pointer;
}

.hero button:hover{
    background-color: cadetblue;
    font-size: xx-large;
    color: rgb(120, 6, 63);
    transition: .5s ease-in;
}

.about{
    display: flex;
    margin-top: 20px;
}

.sidebar{
    width: 400px;
    height: 400px;
    background-color: cadetblue;
}
.sidebar ul{
    padding: 35px;
}

.sidebar li{
    list-style: none;
    margin-top: 10px;
    background-color: brown;
    padding: 10px;
}
.sidebar a{
    text-decoration: none;
    text-align: center;
    
    color: antiquewhite;
}

.sidebar li:hover{
    background-color: antiquewhite;
    color: brown;
    transition: .5s ease-in;
    font-size: larger;
}

.text{
     margin-left: 300px;
     
    text-align: center;
}
.detail{
    display: flex;
    background-color: gray;
     
}

.left{
    margin: 15px;
    background-color: rgb(104, 102, 98);
    padding: 8px;
    color: aliceblue;
    width: 50%;
}
.right{
    margin: 15px;
     
    padding: 8px;
    color: aliceblue;
    width: 50%;
}
 
.blog{
    display: flex;
   
}
.blogs{
     background-color: aqua;
     margin: 6px;
     padding: 4px;
     text-align: center;
     border: 4px red solid;
     border-radius: 12px;
    
}

.blogs:hover{
    background-color: rgb(119, 177, 177); 
    color: azure;
}
.blogs img{
    margin-top: 6px;
     
}

.blogs img:hover{
    width: 200px;
    height: 200px;
    transition: .5s ease-in;
}

.blogs button{
    padding: 10px;
    background-color: crimson;
    color: azure;
    border-radius: 15px;
}

.blogs button:hover{
    background-color: bisque;
    color: brown;
    font-size:  large;
}

.travel{
    display: flex;
    
}

.visit{ 
    margin: 6px 25px;
     padding: 8px;
     text-align: center;
     border: 4px rgb(64, 255, 0) solid;
     border-radius: 12px;
}

.visit:hover{
    background-color: darkorchid;
    color: beige;
    border: 8px rgb(38, 67, 29) solid;
}

.team{
    display: flex;
}
.members{
    display: inline-block;
    background-color: aqua;
     margin: 6px;
     padding: 40px;
     text-align: center;
     border: 4px rgb(0, 255, 132) solid;
     border-radius: 12px;
}

.members img:hover{
    width: 210px;
    height: 210px;
    transition: .5s ease-in;
    cursor: pointer;
}

.members button{
    padding: 12px;
    background-color: rgb(36, 85, 87);
    color: aliceblue;
    border-radius: 15px;
}

.members button:hover{
    background-color: aliceblue;
    color: rgb(36, 85, 87);
    font-size: x-large;
    transition: .5s ease-in;
}
.members h1{
    color: coral;
}
.members h3{
    color: darkorchid;
}

.right-1{
    display: flex;
    margin-top: 40px;
    
}

.right-1 img{
    margin: 20px;
   text-align: center;

}
.type{
    display: flex;
    background-color: gray;
    color: white;
    margin-top: 60px;
}
.btn{
   
    padding: 15px;
    font-size: large;
    width: 220px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: brown;
    color: aquamarine;
    transition: .5s ease-in;
    font-size: larger;
}

 